
<ion-view align-title="center" view-title="Home">	
  <ion-content>
	<div class="row">
	These days, oil pipeline leaks seem to be perceived less as a threat and more as an opportunity in North Chennai as residents rush to collect whatever they can on hearing such news. The situation was no different on Tuesday morning when reports of a green-coloured “engine oil” gushing out.
	</div>
<button class="button button-dark" ng-click="report()">
  Report an Issue
</button>
  </ion-content>
</ion-view>

