
<ion-view align-title="center" view-title="Report">	
  <ion-content>
  <div class="list list-inset">
  	Enter the details to proceed
  <label class="item item-input">
  	 <span class="input-label">Name</span>
    <input type="text" placeholder="Sai Praneeth" ng-model="user.name1" required>
  </label>
  <label class="item item-input">
  	<span class="input-label">Phone Number</span>
    <input type="tel" placeholder="+91" ng-model="user.number" required>
  </label>
  <label class="item item-input">
  	<span class="input-label">Email</span>
    <input type="email" placeholder="abc@xyz.com" ng-model="user.email" required>
  </label>
</div>
<button class="button button-dark"  ng-click="savedetails()">
  Proceed
</button>
  </ion-content>
</ion-view>
