<ion-view align-title="center" view-title="Choose Type Of Issue">	
  <ion-content>

<div class="list list-inset">
	<div class="item item-divider">
		Air Pollution
	</div>
	<div class="item">
		Factory Outlet
	</div>
	<div class="item">
		Dump Fire
	</div>
	<div class="item">
		Others
	</div>
</div>

<div class="list list-inset">
	<div class="item item-divider">
		Water Pollution
	</div>
	<div class="item">
		Waste Disposal In Streams
	</div>

	<div class="item">
		Oil Spills
	</div>
</div>
<div class="list list-inset">
	<div class="item item-divider">
		Water Abstraction
	</div>
</div>
<div class="list list-inset">
	<div class="item item-divider">
		Land Pollution
	</div>
	<div class="item">
		Waste Dump On Land
	</div>
</div>

  </ion-content>
</ion-view>

